<div th:fragment="header">
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="/news/home" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                     stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2"
                     viewBox="0 0 24 24">
                    <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
                    <circle cx="12" cy="13" r="4"></circle>
                </svg>
                <strong th:utext="#{messages.News}"></strong>
            </a>
            <li><a href="?lang=en" class="text-white" th:text="#{messages.Eng}"></a>
                <a href="?lang=ru" class="text-white" th:text="#{messages.Rus}"></a>
            </li>
        </div>
    </div>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light" th:text="#{messages.NewsManagement}"></h1>
                <p class="lead text-muted" th:text="#{messages.Welcome}"></p>
                <p>
                    <a href="/news/home" class="btn btn-primary my-2" th:text="#{messages.NewsList}"></a>
                    <a href="/news/add" class="btn btn-secondary my-2" th:text="#{messages.AddNews}"></a>
                </p>
            </div>
        </div>
    </section>
</div>